.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.MuiAlert-root {
  width: 450px !important;
  margin-bottom: 30px !important;
}

.MuiToolbar-root {
  margin-bottom: 30px !important;
  justify-content: center !important;
  width: 500px;
  z-index: 2;
}

.MuiFormControl-root, .ButtonControl {
  width: 450px !important;
}

.MuiInputLabel-outlined.MuiInputLabel-shrink {
  transform: translate(14px, -20px) scale(0.75) !important;
}


::-webkit-scrollbar {
  background-color: rgb(196, 193, 193);
}

::-webkit-scrollbar-thumb {
  background-color: dimgray;
  
}

form, nav, main {
  display: flex;
  flex-direction: column;
  max-width: 480px;
  padding: 20px;
  height: auto;
  align-items: center;
  justify-content: flex-start;
}

.NavToggle {
  display: none !important ;
}

@media (max-width: 960px) {
  .NavToggle {
    display: inline-flex !important ;
  }

  .NavCollapse {
    position: absolute;
    z-index: 1;
  }

  .NavCollapse.entering {
    animation: show-toggle 0.5s forwards;
  }

  .NavCollapse.exiting {
    animation: show-toggle 0.5s reverse;
  }  
}

.todo-exit-active {
  animation: fade-out 2s forwards;
}

.todo-enter-active {
  animation: fade-in 2s forwards;
}

@keyframes show-toggle{
  0%{
    transform: translateY(-500px);
  }
  100%{
    transform: translateY(0);
  }
}

@keyframes fade-out{
  0%{
    opacity: 1;
    transform: translateX(0);
  }
  100%{
    opacity: 0;
    transform: translateX(500px);
  }
}

@keyframes fade-in{
  0%{
    opacity: 0;
    transform: translateX(-500px);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}