body {
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto';
  font-size: 32px;
}